td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  color: black;
}

table {
  background-color: lightblue;
}

. cell {
  background: blue;
  height: 50px;
  width: 50px;
}


.sea {
  background-color: lightblue;

}

.hit {
  background-color: red;
}

#battleLog {

display: block;
background-color: black;
color: #00ff00;
font-family: "Courier New";
}
